/Debug
/x64
/test/Debug
/test/x64
/ray_caster/Debug
/cudaRayCaster/Debug
/combase.pdb
/ext/gtest/msvc/template_vs2013
/ext/gtest/msvc/x64
/ext/gtest/msvc/gtest-md
/ext/gtest/msvc/gtest-md.sdf
/ext/gtest/msvc/gtest-md.v12.suo
/template_vs2013.sdf
/template_vs2013.v12.suo
/vc120.pdb
/cudaRayCaster/vc120.pdb
/bin
/template_vs2013.opensdf
/cpuRayCaster/Debug
