*Debug*
*Release*
CMakeFiles
CMakeCache.txt
cmake_install.cmake
*.pdb
*.suo
*.sdf
/x64
/test/x64
/ext/gtest/msvc/template_vs2013
/ext/gtest/msvc/x64
/ext/gtest/msvc/gtest-md
/bin
/template_vs2013.opensdf
lib/
.idea
Makefile
